body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #3F0D12;
    color: #F1F0CC;
}

header {
    background-color: #A71D31;
    color: #F1F0CC;
    text-align: center;
    padding: 20px;
}

nav ul {
    background: #8D775F;
    padding: 10px;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #F1F0CC;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    background: #D5BF86;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    color: #3F0D12;
}

.education-card {
    background: #F1F0CC;
    color: #3F0D12;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

.education-card h3 {
    color: #A71D31;
    margin-bottom: 10px;
}

.education-card ul {
    list-style: none;
    padding: 0;
}

.education-card li {
    font-size: 16px;
    margin: 5px 0;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
    padding: 20px;
}

.skill-category {
    background: #F1F0CC;
    color: #3F0D12;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.skill-category:hover {
    transform: scale(1.05);
}

.skill-category h3 {
    color: #A71D31;
    margin-bottom: 10px;
    font-size: 18px;
}


.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.project-card {
    background: #F1F0CC;
    color: #3F0D12;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.project-card:hover {
    transform: scale(1.05);
}

.project-card h3 {
    margin-bottom: 10px;
    color: #A71D31;
}

.project-card img {
    width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

#resume iframe {
    display: block;
    margin: 0 auto;
}

#contact p {
    margin: 10px 0;
    font-size: 18px;
}

#contact a {
    color: #A71D31;
    font-weight: bold;
}

#contact a:hover {
    text-decoration: underline;
}

a {
    color: #A71D31;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
