body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #3F0D12;
    color: #F1F0CC;
}

header {
    background-color: #A71D31;
    color: #F1F0CC;
    text-align: center;
    padding: 20px;
}

nav ul {
    background: #8D775F;
    padding: 10px;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #F1F0CC;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    background: #D5BF86;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    color: #3F0D12;
}

#contact p {
    margin: 10px 0;
    font-size: 18px;
}

#contact a {
    color: #A71D31;
    font-weight: bold;
}

#contact a:hover {
    text-decoration: underline;
}

a {
    color: #A71D31;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
